.search-coin.hidden {
  display: none;
}

.coin-summary {
  height: 93px;
  background-color: $blue;
  border-radius: 5px;
  border: none;
  padding: 10px 10px 7px;
  &:hover {
    cursor: pointer;
  }
  color: white;
}

.search-coin {
  height: 100vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 999;
  .transparent-background {
    height: 100vh;
    width: 100%;
    background-color: white;
    opacity: 0.9;
    position: absolute;
    overflow: hidden;
    top: -28px;
    left: -6px;
    z-index: -1;
  }
  .coin-summary-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
  }
  .ui.search .results.transition.visible {
    display: none !important;
    visibility: hidden !important;
  }
  .ui.search {
    margin-bottom: 10px;
    text-align: center;
  }
  .ui.input {
    cursor: text;
  }
}

.coin-summary-list {
  background-color: $blue;
  border-radius: 5px;
  height: calc(100% - 78px);
  color: white;
  .coin-summary-header {
    background-color: $navy;
    padding: 0 14px;
    height: 25px;
  }
  .coin-summary-rows {
    overflow: auto;
    background-color: $blue;
  }
}
li.coin-summary-content {
  margin-top: 0;
  height: 60px;
  border-bottom: 1px solid #334099;
  :hover {
    background-color: #6e7eaf;
    cursor: pointer;
  }
  .coin-summary-row {
    height: 60px;
    width: 100%;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.selected .coin-summary-row {
    background-color: #6e7eaf;
  }
}

.coin-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.coin-summary__name {
  width: 35%;
  text-align: left;
  display: flex;
  align-items: center;
}

.coin-summary__mention {
  width: 34%;
  text-align: right;
}

.coin-summary__price {
  width: 25%;
  text-align: right;
  border-radius: 5px;
  &.down {
    background-color: $light-blue;
  }
  &.up {
    background-color: $red;
  }
  &.context {
    padding-right: 5px;
    padding-bottom: 3px;
  }
}

.coin-summary-content {
  margin-top: 6px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .context {
    font-size: 1.5rem;
    height: 40px;
  }
  .context-bottom {
    margin-top: -6px;
    font-size: 1.1rem;
  }
  .context-bottom.mention {
    font-weight: normal;
  }
  .bold {
    font-weight: bold;
  }
  .ui.active.inline.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    &:after {
      border-color: white transparent transparent;
      width: 2rem;
      height: 2rem;
    }
  }
}
.coin-summary__icon {
  text-align: center;
  opacity: 0.4;
}
