.coins {
  position: relative;
}
.search-coin.hidden {
  display: none;
}

.coin-summary {
  height: 93px;
  background-color: $blue;
  border-radius: 5px;
  border: none;
  padding: 10px 10px 7px;
  &:hover {
    cursor: pointer;
  }
  color: white;
}

.no-match {
  font-size: 1.1rem;
  color: white;
  text-align: center;
  margin-top: 60px;
  pointer-events: none;
}

.search-coin {
  height: 100vh;
  width: calc(100% + 20px);
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: -90px;
  left: -10px;
  right: 0;
  z-index: 999;
  .transparent-background {
    height: 100%;
    width: calc(100% + 20px);
    background-color: white;
    opacity: 0.9;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: -10px;
    z-index: -1;
  }
  .coin-summary-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 10px;
  }
  .ui.search .results.transition.visible {
    display: none !important;
    visibility: hidden !important;
  }
  .ui.search {
    margin-top: 40px;
    margin-bottom: 12px;
    text-align: center;
  }
  .ui.input {
    cursor: text;
  }
}

.coin-summary-list {
  position: relative;
  background-color: #666b88;
  border-radius: 5px;
  height: calc(100vh - 90px);
  color: white;
  overflow: hidden;
  .coin-summary-header {
    background-color: #666b88;
    padding: 0 14px;
    height: 25px;
  }
  .coin-summary-rows {
    height: calc(100% - 25px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #666b88;
  }
  ::-webkit-scrollbar {
    width: 0px;
  } /* Safari */
  ::-moz-scrollbars {
    display: none;
  }
  ::-o-scrollbar {
    display: none;
  } /* opera */
  ::-google-ms-scrollbar {
    display: none;
  }
  ::-khtml-scrollbar {
    display: none;
  }
}
li.coin-summary-content {
  margin-top: 0;
  height: 60px;
  border-bottom: 1px solid #6e738f;
  :hover {
    background-color: $blue;
    cursor: pointer;
  }
  .coin-summary-row {
    height: 60px;
    width: 100%;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .coin-summary__mention .context-bottom {
      font-weight: normal;
    }
    .coin-summary__price.context.down:hover,
    .coin-summary__price.context.down p:hover {
      background-color: $light-blue;
    }
    .coin-summary__price.context.up:hover,
    .coin-summary__price.context.up p:hover {
      background-color: $red;
    }
  }
  &.selected .coin-summary-row {
    background-color: $blue;
  }
}

.coin-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.coin-summary__name {
  width: 35%;
  text-align: left;
  display: flex;
  align-items: center;
}

.coin-summary__mention {
  width: 34%;
  text-align: right;
}

.coin-summary__price {
  width: 25%;
  text-align: right;
  border-radius: 5px;
  &.down {
    background-color: $light-blue;
  }
  &.up {
    background-color: $red;
  }
  &.context {
    padding-right: 5px;
    padding-bottom: 3px;
  }
}

.coin-summary-content {
  margin-top: 6px;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .context {
    font-size: 1.5rem;
    height: 40px;
  }
  .context-bottom {
    margin-top: -6px;
    font-size: 1.1rem;
  }
  .context-bottom.mention {
    font-weight: normal;
  }
  .bold {
    font-weight: bold;
  }
  .ui.active.inline.loader {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 1.1rem !important;
    &:after {
      border-color: rgba(255, 255, 255, 0.7) transparent transparent;
      width: 2rem;
      height: 2rem;
    }
  }
}
.coin-summary__icon {
  text-align: center;
  opacity: 0.4;
}

.ui.input.focus > input,
.ui.input > input:focus {
  border-color: $blue;
}
