.ui.fluid.search.selection.dropdown.coins {
  background-color: #233086;
  border: none;
  height: 50px;
  display: flex;
  align-items: center;
  input {
    height: 50px;
    color: white;
  }
  .dropdown.icon {
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
  }
  div.text {
    color: #fff;
  }
  input.search:focus ~ div.text {
    color: #fff !important;
  }
}
.ui.loading.dropdown > i.icon:after {
  top: 55% !important;
  left: 13% !important;
  width: 2em !important;
  height: 2em !important;
  border-color: #ffffff transparent transparent !important;
}
@media only screen and (max-width: 767px) {
  .ui.search.dropdown .menu {
    max-height: 180px;
  }
}
.ui.search.dropdown .menu {
  min-width: calc(100% + 1px);
  width: calc(100% + 1px);
  border: none;
}

.ui.dropdown .menu > .item {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
